<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 mx-auto">
            <form (submit)="login()">
                <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                <div class="form-group">
                    <label for="login">Identifiant</label>
                    <input type="text" class="form-control" name="login" placeholder="Entrer votre identifiant" [(ngModel)]="credentials.email">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" name="password" placeholder="Entrer votre mot de passe" [(ngModel)]="credentials.password">
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>