<div class="container">
    <div class="jumbotron mt-5">
        <div class="col-sm-8 mx-auto">
            <h1 class="text-center">Profile</h1>
        </div>
        <table class="table col-md-6 mx-auto">
            <tr>
                <td>Nom</td>
                <td>{{details?.nom}}</td>
            </tr>
            <tr>
                <td>Prenom</td>
                <td>{{details?.prenom}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{details?.email}}</td>
            </tr>
            <tr>
                <td>Téléphone</td>
                <td>{{details?.telephone}}</td>
            </tr>
        </table>
    </div>
</div>